h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#bid-window {
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 5vh;
  min-height: 80px;
  overflow: auto;
  background: #f9f9f9;
}

#bid-msg p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#output strong {
  color: #575ed8;
}

